.mainContainer {
    max-width: 800px !important;
    margin: auto;
    padding: 0rem 1rem;
    padding-bottom: 2rem;

    .urgentTasksContainer {
        max-height: 400px;
        overflow-y: scroll;
    }
    
    h1 {
        font-size: 2rem;

        @media screen and (max-width: 400px) {
            font-size: 1.5rem;
        }
    }

    h3, h4 {
        font-size: .8rem;
    }

    p {
        font-size: .8rem;
    }

    .header {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}